{% extends "dashboard.html" %}
{% load staticfiles %}

{% block title %}Inicio{% endblock title %}

{% block content %}
<style>
    body {
        background: #E0E0E0;
    }

    #colCenter {
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="colCenter">
                <div class="" align="center">
                    <img src="{% static 'logo.png' %}" alt="Cool Video" width="261px">
                </div>

                <div class="card card-signin my-5">
                  <div class="card-body">
                    <h5 class="card-title text-center">Activacion de Cuenta</h5>
                      <div id="alertL">
                          {% if response == 'error' %}
                          <div class="alert alert-danger text-center" role="alert">
                              {{description}}
                          </div>
                          {% elif response == 'success' %}
                          <div class="alert alert-success text-center" role="alert">
                              {{description}}
                          </div>
                          {% endif %}
                      </div>
                      <hr class="my-4">
                      {% if response == 'error' %}
                          <h5 class="card-title text-center">¿No Tienes Cuenta? <a href="{% url 'usuarios:registro' %}">Registrate aqui</a></h5>
                          {% elif response == 'success' %}
                          <h5 class="card-title text-center">Ahora puedes <a href="{% url 'usuarios:login' %}">iniciar sesion</a></h5>
                      {% endif %}
                  </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock content %}

{% block extraCode %}
<script type="text/javascript">

</script>
{% endblock extraCode %}